@using Microsoft.AspNetCore.Http
@model Dadelijk.nl.ViewModels.NewsItemAndReaction

@{
    ViewData["Title"] = "Home Page";
}


@section Content{

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h4><b>@Model.NewsItem.Subject</b> - @(Model.NewsItem.DateUpdated == null ? Model.NewsItem.DateCreated.ToString("f") : Model.NewsItem.DateUpdated.Value.ToString("f"))</h4>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @Html.Raw(Model.NewsItem.Text)
                
                <div class="ln_solid"></div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    @if (Context.Session.GetInt32("id") > 0)
                    {
                        <a href="#Reaction">Reactie schrijven</a>
                        <text> - </text>
                    }
                    else
                    {
                        <a asp-controller="CMS" asp-action="Login">Inloggen</a>
                        <text> voor een reactie te schrijven - </text>
                    }
                    <a href="#Reaction">Melden</a>
                </div>
            </div>


        </div>
    </div>
    @if (!Model.Reactions.Any())
    {
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h4>Geen reactie's</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    Er zijn nog geen reactie's, <a href="#Reaction">schrijf</a> er een!
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    }
    @foreach (var reaction in Model.Reactions)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col-sm-offset-@reaction.GetOffset(8)">
            <div class="x_panel">
                <div class="x_title">
                    <h4>@reaction.Account.UserName @if(reaction.ParentReaction != null){<span>@@@reaction.ParentReaction.Account.UserName</span>}</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @Html.Raw(reaction.Text)

                    <div class="ln_solid"></div>

                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right pull-right">
                            <a class="reply" data-username="@reaction.Account.UserName" data-newsId="@reaction.NewsItemId" data-reactionId="@reaction.Id" href="#Reaction">Reageren</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    }
    

    <div id="Reaction" class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h4>Reactie schrijven <b class="reactionUsername"></b></h4>
                <div class="clearfix"></div>
            </div>
        @if (Context.Session.GetInt32("id") > 0)
        {
            <div class="x_content form-horizontal form-label-left">

                <form asp-action="AddReaction" data-parsley-validate method="post">
                    <input type="hidden" name="newsItemId" value="@Model.NewsItem.Id" />
                    <input type="hidden" name="reactionId" class="reactionId" value="0" />
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="text">
                            Text <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            @Html.Partial("../Partials/TextEditor", "")
                        </div>
                    </div>

                    <div class="ln_solid"></div>

                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-primary">Reageren</button>
                        </div>
                    </div>
                </form>
            </div>
        }
        else
        {
            <a asp-controller="CMS" asp-action="Login">Inloggen</a>
        }
        </div>
    </div>
}
